.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.header__logo {
    width: 28px;
    height: 32px;
}

.header__settings {
    display: flex;
    gap: 33px;
    width: 203px;
    
}

.font-select {
    display: flex;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.6s ease;
}

.font-select::-ms-expand {
    display: none;
}

.arrow{
	width: 10px;
	height: 10px;
	display: block;
	border-left:2px solid #A445ED;
	border-bottom:2px solid #A445ED;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.arrow:hover i{
	margin-top: 3px;
}

.theme-btn {
    width: 72px;
}